@model Recetario.Nucleo.Entidades.Receta

@{
    ViewBag.Title = "Recetario | Detalles";
   
}
@if (Model == null) {
    <div class="alert alert-danger" role="alert">
        <p><strong>Ooops!</strong> No pudimos encontrar la receta con ese Id <span style="font-size: 3em;">:(</span></p>
    </div>
} else {
    <h2 class="text-primary text-center">@Html.DisplayFor(m => m.Nombre) <a href="/Receta/Actualizar/@Model.Id" class="text-info"><span class="glyphicon glyphicon-edit"></span></a><a href="/Receta/Eliminar/@Model.Id" class="text-danger"><span class="glyphicon glyphicon-remove"></span></a></h2>
    if(Model.PathImage != null) {
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron-photo text-center">
                    <img src="~/Images/Upload/@Model.PathImage" class="img-responsive center-block">
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <h3 class="text-info">Datos principales</h3>
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Nombre, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <p>@Html.DisplayFor(m => m.Nombre)</p>
                </div>
            </div>
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Descripcion, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <p>@Html.DisplayFor(m => m.Descripcion)</p>
                </div>
            </div>
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Porciones, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-2">
                    <p>@Html.DisplayFor(m => m.Porciones)</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3 class="text-info">Ingredientes</h3>
            @if (Model.Ingredientes != null && Model.Ingredientes.Count > 0) {
                for (var i = 0; i < Model.Ingredientes.Count(); i++) {
                <div class="col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>@Model.Ingredientes[i].Cantidad</strong> @Model.Ingredientes[i].Nombre
                        </li>
                    </ul>
                </div>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-info">Procedimiento</h3>
            @if (Model.Pasos != null && Model.Pasos.Count > 0) {
                for (var i = 0; i < Model.Pasos.Count(); i++) {
                <div class="col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong style="font-size:2em;">@Model.Pasos[i].Numero</strong> @Model.Pasos[i].Descripcion
                        </li>
                    </ul>
                </div>
                }
            }
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/Scripts/bootstrap-filestyle.min.js")
    @Scripts.Render("~/Scripts/jquery.fs.stepper.min.js")
    @Scripts.Render("~/Scripts/bootstrap-wysiwyg.js")
}