@model IEnumerable<Recetario.Nucleo.Entidades.Receta>

@{
    ViewBag.Title = "Recetario | Lista Recetas";
    int c = 1;
}

<h2 class="text-primary">Lista de Recetas</h2>
<div class="row">
    @foreach (var receta in Model) {
        if (c < 3 || c==7) {
            if (c == 7) { c = 1; }
        <div class="col-md-6">
            <div class="jumbotron">
                <div class="jumbotron-photo">
                    <img src="~/Content/img/Jumbotron.jpg">
                </div>
                <div class="jumbotron-contents">
                    <h3 class="text-nowrap">@receta.Nombre</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <p><b>Porciones</b>: @receta.Porciones</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b>Numero de Pasos</b>: @receta.Pasos.Count()</p>
                        </div>
                    </div>

                    <p class="text-nowrap">@receta.Descripcion</p>
                    <p class="text-right"><a href="/Receta/Detalles/@receta.Id" class="btn btn-info" role="button">Ver</a> </p>
                </div>
            </div>
        </div>
        } else if (c < 7) {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-rounded" src="~/Content/img/thumbnail-1.jpg">
                <div class="caption text-center">
                    <h3 class="text-nowrap">@receta.Nombre</h3>
                    <p class="text-nowrap">@receta.Descripcion</p>
                    <p><a href="/Receta/Detalles/@receta.Id" class="btn btn-info" role="button">Ver</a> </p>
                </div>
            </div>
        </div>
        } c++;
    }
</div>
